* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.card {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container.card {
    width: 500px; /* Define um tamanho fixo para o card */
    min-height: 300px; /* Define uma altura mínima */
}

header {
    background-color: #287d3c;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: .5em;
    margin: 0 0 0 0;
}

.card p {
    font-size: 1.2em;
    padding: .5em;
}


.card button {
    width: 30%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.card button:hover {
    background-color: #218838;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1em 1em 1em 1em;
    align-items: center;
}

.input-group h6 {
    flex: 0 0 100%;
    text-align: start;
}

.input-group input {
    flex: 2;
    padding: 8px;
}

.input-group button {
    flex: 1;
    padding: 8px;
}

span[id] {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    font-variant-numeric: tabular-nums;
    font-weight: bold;
    font-size: .8em;
}

/* Largura específica para cada um baseada no valor máximo de 100 anos */
#dias_vivo {
    min-width: 7ch;  /* Espaço para "00.000" */
}

#horas_vivo {
    min-width: 8ch;  /* Espaço para "000.000" */
}

#minutos_vivo {
    min-width: 11ch; /* Espaço para "00.000.000" */
}
